.top-container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit minmax(200px,1fr));
}
.main-nav{
  background: #E600E6;
  font-size: 2em;
}
ul{
  display: flex;
  list-style: none;
}
li{
  margin: auto;
}
a{
  text-decoration: none;
}
.Flex-container{
  display: flex;
  background: #8c1aff;
}
p{
  font-family: Arial;
  font-size: 1.2em;
}
body{
  margin:auto 0;
}
.Grid-container{
  display: grid;
  background-color: #9494b8;
  grid-template: 1fr /  repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 20px;
  padding: 20px;
}
.box{
  margin: 20px;
  padding: 20px;
  background-color: #ff0066;
}
.box > img{
  width:100%;
  height: 100%;
}
